[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
pylint = "*"
pycodestyle = "*"
pytest = "*"
pytest-bdd = "*"
setuptools = "*"
test = {editable = true,path = "./src"}

[requires]
python_version = "3.8"
